<!DOCTYPE html>
<html lang="en">

<head>
  <title>About Us</title>
  <link rel="stylesheet" href="/stylesheets/Style1.css">
</head>

<body>
  <header>
    <br><br>
    <center><a href="/" target="_blank"><img src="/images/job Searc.jpeg" alt="logo" width="600" height="200"></a></center>
    <br> </br>
    <h1><p style="color:rgb(35, 9, 2);">Newcomer Navigator</p></h1>
    <h3><center><p style="color:rgb(121, 35, 9);"><em>(Your Gateway to Career Success)</em></p></center></h3>
  </header>

  <nav>
    <a href="/"><input type="button" value="Home Page" id="btn"></a>&nbsp;
    <a href="/About"><input type="button" value="About Us" id="btn"></a>&nbsp;
    <a href="/Site Map"><input type="button" value="Site Map" id="btn"></a>
  </nav>

  <main>
    <section>
      <h1>About Newcomer Navigator</h1>
      <p>Welcome to Newcomer Navigator, your trusted companion in the journey toward a successful career in a new land! At Newcomer Navigator, we understand the challenges of starting afresh, and we are here to make your transition smoother and more rewarding.</p>
      <p>Our mission is to connect Job Seekers with exciting opportunities and empower Employers to find the perfect talent for their teams. We believe in creating a bridge that transcends borders, providing a platform where aspirations meet opportunities.</p>
      <p>With a user-friendly interface and a commitment to excellence, Newcomer Navigator is your one-stop destination for job exploration and recruitment needs.</p>
    </section>

    <section>
      <h2>Access to Job Postings</h2>
      <p>Newcomer Navigator provides a comprehensive platform for Job Seekers to explore a multitude of job postings across various industries. Our user-friendly interface and powerful search features ensure that you can find the opportunities that align with your career goals.</p>
      <p>Employers, leverage our advanced recruitment tools to discover top-tier talent and build a team that drives success. Join Newcomer Navigator today and unlock a world of possibilities!</p>
    </section>

        <section>
      <h2>Explore Our Services</h2>
      <p>Choose your path:</p>
      <ul>
        <li><a href="/Jlogin"><input type="button" value="Job Seeker Login" id="btn"></a></li>
        <li><a href="/Elogin"><input type="button" value="Employer Login" id="btn"></a></li>
      </ul>
    </section>
    
  </main>

  <hr style="color:gold;"> </hr>

  <footer>
    Reach us at (Email): <a href="mailto:contact@newcomernavigator.com">contact@newcomernavigator.com</a>
    <h6> Copyright &copy; Newcomer Navigator 2023. All rights reserved. </h6>
  </footer>
</body>

</html>