<!DOCTYPE html>
<html lang="en"> 


<head>
    <title>Advestise</title>
    <link rel="stylesheet" href="/stylesheets/Style1.css">
    <nav>
    <a href="/"><input type="button" value="Home Page" id="btn"></a>&nbsp;
    <a href="/EmployeerD"><input type="button" value="Employer Dashboard" id="btn"></a>&nbsp;
    <a href="/Site"><input type="button" value="Site Map" id="btn"></a>
  </nav>
</head>

<body>

    <header>
        <br><br>
        <center><a href="/" target="_blank"><img src="/images/job Searc.jpeg" alt="logo" width="600" height="200"></a></center>
        <hr style="color:gold;"> </hr>
        <!-- Creative Text about Future Feature -->
        <div style="background-color: #f2f2f2; padding: 20px; text-align: center;">
            <h2 style="color: #333;">Exciting News Coming Soon!</h2>
            <p style="color: #555; font-size: 16px;">
                🚀 Get ready for a game-changing feature! Employers, soon you'll have the power to supercharge your job listings with our cutting-edge advertisement options. Reach your ideal candidates more effectively and make your job opportunities stand out in the crowd. Stay tuned for the future of job advertising on our platform!
            </p>
        </div>
    </header>

    <footer>
        Reach us out at (Email): <a href="mailto:contact@a1.estate.com">contact@a1.estate.com</a>
        <h6> 
            Copyright &copy; Newcomer Navigator 2023. All rights reserved.
        </h6>
    </footer>

</body>
</html>