<!DOCTYPE html>
<html lang="en">

<head>
  <title>Area</title>
  <link rel="stylesheet" href="/stylesheets/Style1.css">
</head>

<body>
  <header>
    <br><br>
    <center><a href="/" target="_blank"><img src="/images/job Searc.jpeg" alt="logo" width="600" height="200"></a></center>
    <br> </br>
    <h1><p style="color:rgb(35, 9, 2);">Newcomer Nevigator</p></h1>
    <h3><center><p style="color:rgb(121, 35, 9);"><em>(Start your career here, with us)</em></p></center></h3>
  </header>

    <nav>
    <a href="/"><input type="button" value="Home Page" id="btn"></a>&nbsp;
    <a href="/About"><input type="button" value="About Us" id="btn"></a>&nbsp;
    <a href="/Site"><input type="button" value="Site Map" id="btn"></a>
  </nav>

  <main>
  <center><h4>Click on any Region to get the job listing over there</h4></center>
  <center><img src="/images/Toronto Map.jpg" alt="Toronto" usemap="#Toronto" width="700" height="400"></center>

  <map name="Toronto">
    <area shape="rect" coords="210,15,420,180" alt="North York" href="/North"> 
    <area shape="rect" coords="29,15,160,300" alt="Etobicoke York" href="/Etobicoke">
    <area shape="rect" coords="210,250,420,300" alt="Toronto and East York" href="/TandE">\
    <area shape="rect" coords="445,16,650,180" alt="Scarborough" href="/Scarborough"> 
  </map>

  </main>

  <hr>

  
  <hr style="color:gold;"> </hr>

  <footer>
    Reach us out at (Email): <a href="mailto:">contact@a1.estate.com</a>
    <h6> Copyright &copy; Newcomer Navigator 2023. All rights reserved. </h6>
  </footer>
</body>

</html>