<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <link rel="stylesheet" href="/stylesheets/Style1.css">
</head>

<body>
  <header>
    <br><br>
    <center><a href="/" target="_blank"><img src="/images/job Searc.jpeg" alt="logo" width="600" height="200"></a></center>
    <br> </br>
    <h1><p style="color:rgb(35, 9, 2);">Newcomer Nevigator</p></h1>
    <h3><center><p style="color:rgb(121, 35, 9);"><em>(Start your career here, with us)</em></p></center></h3>
  </header>

  <nav>
    <a href="/Index"><input type="button" value="Home Page" id="btn"></a>&nbsp;
    <a href="/About"><input type="button" value="About Us" id="btn"></a>&nbsp;
    <a href="/Site"><input type="button" value="Site Map" id="btn"></a>
  </nav>

<main>
  <section>
    <h1>Welcome to Newcomer Navigator</h1>
    <p>Your gateway to a successful career in a new land! Whether you are a Job Seeker looking for exciting opportunities or an Employer seeking talented individuals, we've got you covered.</p>
  </section>

  <section>
    <h2>Explore Our Services</h2>
    <p>Choose your path:</p>
    <ul>
      <a href="/Oldjob"><input type="button" value="Old Job Listing" id="btn"></a>
      <br></br>
      <a href="/Newjob"><input type="button" value="New Job Listing" id="btn"></a>
      <hr></hr>
      To Advertise and get more reach please click on ----> <a href="/Advertise"><input type="button" value="Advertise" id="btn"></a>
    </ul>
  </section>

</main>

  <hr style="color:gold;"> </hr>

  <footer>
    Reach us out at (Email): <a href="mailto:">contact@newcomernavigator.com</a>
    <h6> Copyright &copy; Newcomer Navigator 2023. All rights reserved. </h6>
  </footer>
</body>

</html>