<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Employer Login - Newcomer Navigator</title>
    <link rel="stylesheet" href="/stylesheets/Style1.css" />
  </head>

  <body>
    <header>
    <br><br>
    <center><a href="/" target="_blank"><img src="/images/job Searc.jpeg" alt="logo" width="600" height="200"></a></center>
    <br> </br>
    <h1><p style="color:rgb(35, 9, 2);">Newcomer Nevigator</p></h1>
    <h3><center><p style="color:rgb(121, 35, 9);"><em>(Start your career here, with us)</em></p></center></h3>
  </header>>

  <nav>
    <a href="/"><input type="button" value="Home Page" id="btn"></a>&nbsp;
    <a href="/About"><input type="button" value="About Us" id="btn"></a>&nbsp;
    <a href="/Site"><input type="button" value="Site Map" id="btn"></a>
  </nav>

    <main>
      <section>
        <h1>Employer Login</h1>
        <!-- Employeer Login Form -->
        <form id="loginForm" action="/">
          <label for="companyname">Email:</label>
          <input type="text" id="email" name="companyname" required />

          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required />

          <button type="submit">Login</button>
          
        </form>
        <form action="/Eregister">
        <br></br>
          Not a member -> <button type="submit">Register</button>
        </form>
        <!-- End of Employeer Login Form -->
      </section>
    </main>
    <script>
      document.getElementById('loginForm').addEventListener('submit', function(event) {
          event.preventDefault();

          const formData = {
              email: document.getElementById('email').value,
              password: document.getElementById('password').value
          };

          fetch('/users/signin', {
              method: 'POST',
              headers: {
                  'Content-Type': 'application/json',
              },
              body: JSON.stringify(formData)
          })
          .then(response => response.json())
          .then(data => {
              console.log('Success:', data);
              window.location.href = '/';
              // Handle success, such as redirecting to a user profile page
          })
          .catch((error) => {
              console.error('Error:', error);
              // Handle errors, such as showing a login error message
          });
      });
  </script>

    <hr
      style="background-color: gold; height: 2px; border: none; margin: 20px 0"
    />

    <footer>
      Reach us at (Email):
      <a href="mailto:contact@newcomernavigator.com"
        >contact@newcomernavigator.com</a
      >
      <p>&copy; 2023 Newcomer Navigator. All rights reserved.</p>
    </footer>
  </body>
</html>
