<!DOCTYPE html>
<html lang="en">

<head>
  <title>Old Job Postings</title>
  <link rel="stylesheet" href="/stylesheets/Style1.css">
</head>

<body>
  <header>
    <br><br>
    <center><a href="/" target="_blank"><img src="/images/job Searc.jpeg" alt="logo" width="600" height="200"></a></center>
    <br> </br>
    <h1><p style="color:rgb(35, 9, 2);">Newcomer Nevigator</p></h1>
    <h3><center><p style="color:rgb(121, 35, 9);"><em>(Start your career here, with us)</em></p></center></h3>
  </header>

    <nav>
    <a href="/"><input type="button" value="Home Page" id="btn"></a>&nbsp;
    <a href="/About"><input type="button" value="About Us" id="btn"></a>&nbsp;
    <a href="/Site"><input type="button" value="Site Map" id="btn"></a>
  </nav>

     <main style="padding: 20px; text-align: center">
     <center><h4>After having look over your job posting please click on edit buttion for edit request</h4></center>
  
  <center><h2> Engineer - Backend Development</h2>

    <h3> Tech Innovators Ltd.</h3>

    <h3> Type: Full-time</h3>

    <h5> Join our dynamic team of software engineers working on cutting-edge backend solutions. Collaborate with cross-functional teams to design and implement scalable and robust software systems. </h5>

<ul>
      <a href="/Japp"><input type="button" value="Edit" id="btn"></a>
    </ul>
</center>
      <hr style="border-color: gold" />
    </main>
<hr></hr>
<hr>
     <main style="padding: 20px; text-align: center">
     <center><h4>After having look over your job posting please click on edit buttion for edit request</h4></center>
  
    <center><h2>Customer Support Representative</h2>

    <h3> Company: E-commerce Solutions Inc.</h3>

    <h3> Job Type: Part-time</h3>

    <h5>Description: Provide exceptional customer support via email and chat. Resolve customer inquiries, troubleshoot issues, and ensure a positive customer experience. This role offers flexible hours. </h5>
<ul>
      <a href="/Jedit"><input type="button" value="Edit" id="btn"></a>
    </ul>
</center>
      <hr style="border-color: gold" />
    </main>
    <hr>
<hr></hr>
     <main style="padding: 20px; text-align: center">
     <center><h4>After having look over your job posting please click on edit buttion for edit request</h4></center>
  
  <center><h2> Marketing Specialist </h2>

    <h3> Company: Global Marketing Solutions</h3>

    <h3> Job Type: Contract</h3>

    <h5> Description: We're seeking a creative and data-driven Marketing Specialist to develop and execute innovative marketing campaigns. This remote position allows you to showcase your skills in digital marketing and brand promotion. </h5>
<ul>
      <a href="/Japp"><input type="button" value="Edit" id="btn"></a>
    </ul>
</center>
      <hr style="border-color: gold" />
    </main>
  <hr>
<hr></hr>
     <main style="padding: 20px; text-align: center">
     <center><h4>After having look over your job posting please click on edit buttion for edit request</h4></center>
  
  <center><h2>Financial Analyst</h2>

    <h3>Company: Finance Dynamics Corp.</h3>

    <h3> Job Type: Permanent </h3>

    <h5>Description: We are hiring a skilled Financial Analyst to analyze financial data, prepare reports, and provide insights to support strategic decision-making. This position is open to candidates across the country.</h5>
<ul>
      <a href="/Japp"><input type="button" value="Edit" id="btn"></a>
    </ul>
</center>
      <hr style="border-color: gold" />
    </main>
  
  
  <hr style="color:gold;"> </hr>

  <footer>
    Reach us out at (Email): <a href="mailto:">contact@a1.estate.com</a>
    <h6> Copyright &copy; Dhruvil Patel, 301273271, Software Engineering Technician(#3408), Semester 1. </h6>
  </footer>
</body>

</html>