<!DOCTYPE html>
<html lang="en">

<head>
  <title>Scarborough</title>
  <link rel="stylesheet" href="/stylesheets/Style1.css">
</head>

<body>
  <header>
    <br><br>
    <center><a href="/" target="_blank"><img src="images/job Searc.jpeg" alt="logo" width="600" height="200"></a></center>
    <br> </br>
    <h1><p style="color:rgb(35, 9, 2);">Newcomer Nevigator</p></h1>
    <h3><center><p style="color:rgb(121, 35, 9);"><em>(Start your career here, with us)</em></p></center></h3>
  </header>

    <nav>
    <a href="/"><input type="button" value="Home Page" id="btn"></a>&nbsp;
    <a href="/About"><input type="button" value="About Us" id="btn"></a>&nbsp;
    <a href="/Site"><input type="button" value="Site Map" id="btn"></a>
  </nav>

  <main>
  <center><h4>After having look over your desired job please click on apply buttion for Application</h4></center>
  
  <center><h2> Marketing Specialist </h2>

    <h3> Company: Global Marketing Solutions</h3>

    <h3> Job Type: Contract</h3>

    <h5> Description: We're seeking a creative and data-driven Marketing Specialist to develop and execute innovative marketing campaigns. This remote position allows you to showcase your skills in digital marketing and brand promotion. </h5>
<hr></hr>
<ul>
      <a href="/Japp"><input type="button" value="Apply" id="btn"></a>
    </ul>
</center>


 

  </main>

  <hr>

  
  <hr style="color:gold;"> </hr>

  <footer>
    Reach us out at (Email): <a href="mailto:">contact@a1.estate.com</a>
    <h6> Copyright &copy;  </h6>
  </footer>
</body>

</html>