<!DOCTYPE html>
<html lang="en"> 



<head>
<title>Site Map</title>
<link rel="stylesheet" href="Style1.css">
</head>

<header>
<br><br>
<center><a href="Index.html" target="_blank"><img src="job Searc.jpeg" alt="logo" width="600" height="200"></a></center>
 
</center>
<hr style="color:gold;"> </hr>
<footer>
    Reach us out at (Email): <a href="mailto:">contact@a1.estate.com</a>
    <h6> 
    Copyright &copy; Dhruvil Patel, 301273271, Software Engineering Technician(#3408), Semester 1.
    </h6>
</footer>

</body>
</html>