<!DOCTYPE html>
<html lang="en"> 



<head>
<title>Submit</title>
<link rel="stylesheet" href="/stylesheets/Style1.css">
</head>
<body>
<div>
<header>
<br><br>
<center><a href="/" target="_blank"><img src="/images/job Searc.jpeg" alt="logo" width="600" height="200"></a></center>
<br> </br>
<h2>A 1 Esate</h2>
</div>
<h3>
<center><p style="color:rgb(121, 35, 9);"><em>(We make your living better)</em></p></center>
</h3>
</header>
<body>
<br></br>
<h1>Thank You</h1>
<p>
<a href="/Joboption"><input type="button" value="Job Option Page" onclick="buttonClicked()" id="btn"></a>
</p>
<p>
<a href="/"><input type="button" value="Home Page" onclick="buttonClicked()" id="btn"></a>
<br></br>
</p>

<hr style="color:gold;"> </hr>
<footer>
    Reach us out at (Email): <a href="mailto:">contact@a1.estate.com</a>
    <h6> 
    Copyright &copy; 
    </h6>
</footer>
</body>
</html>



